* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    height: fit-content;
}

.video {
    width: 1024px;
    height: 576px;
    /* width: 2048px; */
    /* height: 1152px; */
    overflow: hidden;
    position: relative;
}

.video .scene {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video .scene img, .video .scene video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video .scene .text {
    font-size: 40px;
    width: 100%;
    color: white;
    background-color: #ff000050;
}

.video .scene .cont {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 70%;
}

.stagger span {
    position: relative;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
